In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('WPP2022_Fertility_by_Age1/WPP2022_Fertility_by_Age1.csv')
df

In [ ]:
columnas_completamente_nulas = df.columns[df.isnull().all()]
columnas_completamente_nulas

In [ ]:
inicio = 650001 
fin = 950000  
nuevo_df = df.iloc[inicio:fin+1]
columnas_completamente_nulas = nuevo_df.columns[nuevo_df.isnull().all()]
columnas_completamente_nulas

In [ ]:
nuevo_df = nuevo_df.drop(columns=columnas_completamente_nulas)
nuevo_df

In [ ]:
columnas_completamente_nulas = nuevo_df.columns[nuevo_df.isnull().all()]
columnas_completamente_nulas

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

host = 'localhost'
user = 'root'
password = '24_Diolove'
database_name = 'analisisproyecto'
table_name = 'fertility_by_age'  

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()
 
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = nuevo_df.columns.tolist()
        column_types = [nuevo_df[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
from sqlalchemy import create_engine
nuevo_df.drop(columns=['ISO2_code'], inplace=True)
connection_string = f'mysql+mysqlconnector://root:24_Diolove@localhost:3306/analisisproyecto'

engine = create_engine(connection_string)

nuevo_df.to_sql(name='fertility_by_age', con=engine, if_exists='append', index=False)

engine.dispose()

In [ ]:
df2 = pd.read_csv('master.csv')
df2

In [ ]:
columnas_completamente_nulas = df2.columns[df2.isnull().all()]
columnas_completamente_nulas

In [ ]:
df2.columns = df2.columns.str.replace('[^a-zA-Z0-9_]', '_', regex=True)

In [ ]:
import mysql.connector
from mysql.connector import Error

host = 'localhost'
user = 'root'
password = '24_Diolove'
database_name = 'analisisproyecto'
table_name = 'suicides_rates'

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = df2.columns.tolist()
        column_types = [df2[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
from sqlalchemy import create_engine

connection_string = f'mysql+mysqlconnector://root:24_Diolove@localhost:3306/analisisproyecto'

engine = create_engine(connection_string)

df2.to_sql(name='suicides_rates', con=engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
df3 = pd.read_csv('steam.csv')
df3

In [ ]:
columnas_completamente_nulas = df3.columns[df3.isnull().all()]
columnas_completamente_nulas

In [ ]:
import mysql.connector
from mysql.connector import Error

host = 'localhost'
user = 'root'
password = '24_Diolove'
database_name = 'analisisproyecto'
table_name = 'steam_games'

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = df3.columns.tolist()
        column_types = [df3[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
from sqlalchemy import create_engine

connection_string = f'mysql+mysqlconnector://root:24_Diolove@localhost:3306/analisisproyecto'

engine = create_engine(connection_string)

df3.to_sql(name='steam_games', con=engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
df4 = pd.read_csv('Accidents.csv')
df4

In [ ]:
nuevas_filas = 126038  
nuevo_df2 = df4.head(nuevas_filas)
columnas_completamente_nulas = nuevo_df2.columns[nuevo_df2.isnull().all()]
columnas_completamente_nulas

In [ ]:
table_name = 'accidente_bici_british'

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = df4.columns.tolist()
        column_types = [df4[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
from sqlalchemy import create_engine

connection_string = f'mysql+mysqlconnector://root:24_Diolove@localhost:3306/analisisproyecto'

engine = create_engine(connection_string)

nuevo_df2.to_sql(name='accidente_bici_british', con=engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
nuevo_df2

In [ ]:
df5 = pd.read_csv('vgsales.csv')
df5

In [ ]:
columnas_completamente_nulas = df5.columns[df5.isnull().all()]
columnas_completamente_nulas

In [ ]:
df5.columns = df5.columns.str.replace('[^a-zA-Z0-9_]', '_', regex=True)

In [ ]:
table_name = 'venta_juegos'

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = df5.columns.tolist()
        column_types = [df5[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
engine = create_engine(connection_string)

df5.to_sql(name='venta_juegos', con=engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
df6 = pd.read_csv('dataset_olympics.csv')
df6

In [ ]:
columnas_completamente_nulas = df6.columns[df6.isnull().all()]
columnas_completamente_nulas

In [ ]:
table_name = 'juegos_olimpicos'

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = df6.columns.tolist()
        column_types = [df6[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
engine = create_engine(connection_string)

df6.to_sql(name='juegos_olimpicos', con=engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
df7 = pd.read_csv('WorldCupMatches.csv')
df7

In [ ]:
columnas_completamente_nulas = df7.columns[df7.isnull().all()]
columnas_completamente_nulas

In [ ]:
df7 = df7.dropna(how='all')
filas_completamente_nulas = df7[df7.isnull().all(axis=1)]
filas_completamente_nulas

In [ ]:
df7

In [ ]:
import mysql.connector
import re

database_name = 'analisisproyecto'
table_name = 'worldcupmatches'

def clean_column_name(column_name):
    cleaned_name = re.sub(r'[^a-zA-Z0-9_]', '', column_name.replace(' ', '_'))
    return cleaned_name

df7.columns = [clean_column_name(col) for col in df7.columns]

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = df7.columns.tolist()
        column_types = [df7[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
engine = create_engine(connection_string)

df7.to_sql(name='worldcupmatches', con=engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
df8 = pd.read_csv('Taylor_Train.csv', encoding='latin1')
df8

In [ ]:
columnas_completamente_nulas = df8.columns[df8.isnull().all()]
columnas_completamente_nulas

In [ ]:
filas_completamente_nulas = df8[df8.isnull().all(axis=1)]
filas_completamente_nulas

In [ ]:
table_name = 'concierto_taylor'
cleaned_column_names = [re.sub(r'[^a-zA-Z0-9_]', '_', col) for col in df8.columns]
try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = df8.columns.tolist()
        column_types = [df8[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(cleaned_column_names)):
            column_name = cleaned_column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(cleaned_column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
engine = create_engine(connection_string)

df8.to_sql(name='concierto_taylor', con=engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
df9 = pd.read_csv('export.csv')
df9

In [ ]:
columnas_completamente_nulas = df9.columns[df9.isnull().all()]
columnas_completamente_nulas

In [ ]:
df9 = df9.drop(columns=['Unnamed: 14'])

In [ ]:
columnas_completamente_nulas = df9.columns[df9.isnull().all()]
columnas_completamente_nulas

In [ ]:
filas_completamente_nulas = df9[df9.isnull().all(axis=1)]
filas_completamente_nulas

In [ ]:
df9 = df9.rename(columns={'SUMMONERID': 'SUMMONER_ID'})

In [ ]:
table_name = 'datos_lol'
df9.columns = df9.columns.str.replace('[^a-zA-Z0-9_]', '_')
try:
    # Crear una conexión a MySQL usando mysql.connector
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        # Crear la base de datos si no existe
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        # Seleccionar la base de datos
        cursor.execute(f"USE {database_name}")

        # Obtener nombres de columna limpios y tipos de datos
        column_names = df9.columns.tolist()
        cleaned_column_names = [name.replace(' ', '_') for name in column_names]  # Reemplazar espacios con guiones bajos
        column_types = [df9[col].dtype for col in column_names]

        # Crear la consulta CREATE TABLE
        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(cleaned_column_names)):
            column_name = cleaned_column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"`{column_name}` INT"  # Utiliza comillas inversas para escapar el nombre
            elif "float" in column_type:
                create_table_query += f"`{column_name}` FLOAT"  # Utiliza comillas inversas para escapar el nombre
            else:
                create_table_query += f"`{column_name}` VARCHAR(255)"  # Utiliza comillas inversas para escapar el nombre
            if i < len(cleaned_column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        # Ejecutar la consulta para crear la tabla
        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

In [ ]:
engine = create_engine(connection_string)

df9.to_sql(name='datos_lol', con=engine, if_exists='replace', index=False)

engine.dispose()

In [2]:
df10 = pd.read_csv('Google-Playstore.csv')
df10

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312939,大俠客—熱血歸來,com.rxsj.ssjj,Role Playing,4.3,16775.0,"100,000+",100000.0,337109,True,0.0,...,http://www.4399sy.com.hk/,ssjjcomhk@gmail.com,NaN,"Jun 01, 2021",Teen,http://a.4399sy.com.hk/user/aggreement,False,False,False,2021-06-16 12:59:18
2312940,ORU Online,com.threedream.oruonline,Education,0.0,0.0,100+,100.0,430,True,0.0,...,http://www.oru.edu/,3DreamDeveloper@gmail.com,"Jan 17, 2018","Feb 02, 2018",Everyone,http://www.oru.edu/about-oru/privacy-policy.php,False,False,False,2021-06-16 12:59:19
2312941,Data Structure,datastructure.appoworld.datastucture,Education,0.0,0.0,100+,100.0,202,True,0.0,...,NaN,appoworld.official@gmail.com,"Aug 19, 2018","Aug 19, 2018",Everyone,https://appoworld.000webhostapp.com/datastruct...,False,False,False,2021-06-16 12:59:19
2312942,Devi Suktam,ishan.devi.suktam,Music & Audio,3.5,8.0,"1,000+",1000.0,2635,True,0.0,...,https://a70f78905.app-ads-txt.com,ruchisono@gmail.com,"Aug 1, 2016","May 05, 2021",Everyone,https://docs.google.com/document/d/1x-9reZuLRX...,True,False,False,2021-06-16 12:59:19
2312943,Biliyor Musun - Sonsuz Yarış,com.yyazilim.biliyormusun,Trivia,5.0,12.0,100+,100.0,354,True,0.0,...,NaN,yyazilimdevelop@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://biliyor-musun-sons.flycricket.io/priva...,True,False,False,2021-06-16 12:59:19

In [3]:
inicio = 1 
fin = 95000  
nuevo_df3 = df10.iloc[inicio:fin+1]
columnas_completamente_nulas = nuevo_df3.columns[nuevo_df3.isnull().all()]
columnas_completamente_nulas

Index([], dtype='object')

In [4]:
nuevo_df3

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35
5,IMOCCI,com.imocci,Social,0.0,0.0,50+,50.0,89,True,0.0,...,http://www.imocci.com,info@imocci.com,"Dec 24, 2018","Dec 20, 2019",Teen,https://www.imocci.com/wp-content/uploads/2018...,False,True,False,2021-06-15 20:19:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94996,Vizag Offers HuB,com.conduit.app_26c11ef39b144fdb86af6a95805a4f...,Shopping,4.9,80.0,"1,000+",1000.0,1977,True,0.0,...,http://www.vizagoffershub.com,info@vizagoffershub.com,"Jun 3, 2015","Jan 02, 2020",Everyone,http://app4mobilebiz.wpengine.com/swiftic-mobi...,False,False,False,2021-06-15 21:53:33
94997,Tic Tac Toe,com.techpalle.tictactoe,Puzzle,0.0,0.0,10+,10.0,48,True,0.0,...,http://www.prathik.in,prathikpremanpp@gmail.com,"Mar 7, 2016","Mar 09, 2016",Everyone,NaN,False,False,False,2021-06-15 21:53:34
94998,Dragon Shadow,com.dragonshadow.shadowwarrior,Role Playing,4.3,10.0,"5,000+",5000.0,8535,True,0.0,...,NaN,mobile@surprisestudio.info,"Apr 27, 2020","May 10, 2020",Everyone 10+,https://sites.google.com/view/policy-store-game,True,False,False,2021-06-15 21:53:34
94999,Prewedding Photo Editor : Photo Maker,makstyle.preweddingphotoframe,Photography,3.8,106.0,"50,000+",50000.0,89308,True,0.0,...,NaN,makapps267@gmail.com,"Aug 28, 2017","Mar 12, 2021",Everyone,https://makstyleappsprivacy.blogspot.com/2020/...,True,False,False,2021-06-15 21:53:34
95000,Nearby Near Me Accounting,com.accountingfinder.application,Maps & Navigation,0.0,0.0,5+,5.0,9,True,0.0,...,http://www.kingcoder.comoj.com,kingcoder17@gmail.com,"May 26, 2017","Sep 24, 2018",Everyone,NaN,True,False,False,2021-06-15 21:53:34

In [7]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Renombrar las columnas del DataFrame
nuevo_df3.columns = [col.encode('utf-8').decode('ascii', 'ignore').replace("/", "_").replace(" ", "_") for col in nuevo_df3.columns]

host = 'localhost'
user = 'root'
password = '24_Diolove'
database_name = 'analisisproyecto'
table_name = 'google_playstore'

try:
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        print(f"Base de datos '{database_name}' creada o ya existente.")

        cursor.execute(f"USE {database_name}")

        column_names = nuevo_df3.columns.tolist()
        column_types = [nuevo_df3[col].dtype for col in column_names]

        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for i in range(len(column_names)):
            column_name = column_names[i]
            column_type = str(column_types[i])
            if "int" in column_type:
                create_table_query += f"{column_name} INT"
            elif "float" in column_type:
                create_table_query += f"{column_name} FLOAT"
            else:
                create_table_query += f"{column_name} VARCHAR(255)"
            if i < len(column_names) - 1:
                create_table_query += ", "
        create_table_query += ");"

        cursor.execute(create_table_query)
        print(f"Tabla '{table_name}' creada exitosamente.")

except Error as e:
    print("Error al conectarse a la base de datos:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexión a MySQL cerrada.")

Base de datos 'analisisproyecto' creada o ya existente.
Tabla 'google_playstore' creada exitosamente.
Conexión a MySQL cerrada.

In [8]:
from sqlalchemy import create_engine
connection_string = f'mysql+mysqlconnector://root:24_Diolove@localhost:3306/analisisproyecto'
engine = create_engine(connection_string)
nuevo_df3.to_sql(name='google_playstore', con=engine, if_exists='replace', index=False)

engine.dispose()